[submodule ".config/oh-my-zsh/custom/plugins/fzf-tab"]
	path = .config/oh-my-zsh/custom/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
[submodule ".config/oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = .config/oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".config/oh-my-zsh/custom/plugins/zsh-completions"]
	path = .config/oh-my-zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule ".config/oh-my-zsh/custom/plugins/zsh-dircolors-solarized"]
	path = .config/oh-my-zsh/custom/plugins/zsh-dircolors-solarized
	url = https://github.com/joel-porquet/zsh-dircolors-solarized.git
[submodule ".config/oh-my-zsh/custom/plugins/zsh-notify"]
	path = .config/oh-my-zsh/custom/plugins/zsh-notify
	url = https://github.com/marzocchi/zsh-notify.git
[submodule ".config/oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = .config/oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
