! -----------------------------------------------------------------------------------------------------------------------------
! COLOURS VERU
! -----------------------------------------------------------------------------------------------------------------------------

! #define veru0  #1c1c1c
! #define veru1  #3B4252
! #define veru2  #434C5E
! #define veru3  #4C566A
! #define veru4  #D8DEE9
! #define veru5  #E5E9F0
! #define veru6  #ECEFF4
! #define veru7  #8FBCBB
! #define veru8  #88C0D0
! #define veru9  #81A1C1
! #define veru10 #5E81AC
! #define veru11 #BF616A
! #define veru12 #D08770
! #define veru13 #EBCB8B
! #define veru14 #A3BE8C
! #define veru15 #B48EAD
!
! *.foreground:  veru4
! *.background:  veru0
! *.cursorColor: veru4
! ! *fading:       35
! ! *fadeColor:    veru3
!
! *.color0:  veru0
! *.color1:  veru11
! *.color2:  veru14
! *.color3:  veru13
! *.color4:  veru9
! *.color5:  veru15
! *.color6:  veru8
! *.color7:  veru5
! *.color8:  veru3
! *.color9:  veru11
! *.color10: veru14
! *.color11: veru13
! *.color12: veru9
! *.color13: veru15
! *.color14: veru7
! *.color15: veru6

! special
URxvt.background: [96]#1E1E2E
URxvt.foreground: #CDD6F4
URxvt.cursorColor: #F5E0DC

! black
URxvt.color0: #45475A
URxvt.color8: #585B70

! red
URxvt.color1: #F38BA8
URxvt.color9: #F38BA8

! green
URxvt.color2: #A6E3A1
URxvt.color10: #A6E3A1

! yellow
URxvt.color3: #F9E2AF
URxvt.color11: #F9E2AF

! blue
URxvt.color4: #89B4FA
URxvt.color12: #89B4FA

! magenta
URxvt.color5: #F5C2E7
URxvt.color13: #F5C2E7

! cyan
URxvt.color6: #94E2D5
URxvt.color14: #94E2D5

! white
URxvt.color7: #BAC2DE
URxvt.color15: #A6ADC8

! -----------------------------------------------------------------------------------------------------------------------------
! URXVT
! -----------------------------------------------------------------------------------------------------------------------------

! general settings
URxvt*termName:             xterm-256color
URxvt.saveLines:            100000
URxvt.scrollBar:            False
URxvt.scrollstyle:          rxvt
URxvt*pointerBlank:         True
URxvt.urgentOnBell:         True
URxvt.cursorBlink:          True
URxvt.cursorUnderline:      False
URxvt.iso14755:             False
URxvt.iso14755_52:          false
URxvt*insecure:             false
URxvt*depth:                32
/* urxvt*dynamicColors: on */

! clickable links
urxvt.matcher.button: C1
! URxvt.matcher.pattern.1:  test
URxvt.matcher.launcher.1: brave +$2 $1

! extensions
URxvt.perl-ext-common:      default,matcher,resize-font,url-select,keyboard-select,clipboard,-confirm-paste
URxvt.colorUL:	    	    #4682B4

!! url-select
URxvt.keysym.M-l:           perl:url-select:select_next
URxvt.url-select.launcher:  /usr/bin/xdg-open
URxvt.url-select.underline: true

!! keyboard-select:
URxvt.keysym.M-v:           perl:keyboard-select:activate
URxvt.keyboard-select.clipboard: true

!! resize-font
URxvt.resize-font.smaller:  M-J
URxvt.resize-font.bigger:   M-K
URxvt.resize-font.reset:    M-R
URxvt.resize-font.step:     1

! keybindings
URxvt.keysym.M-p:           eval:paste_clipboard
URxvt.keysym.M-c:           perl:clipboard:copy

!! scrolling
URxvt.keysym.M-k:           command:\033]720;1\007
URxvt.keysym.M-j:           command:\033]721;1\007
URxvt.keysym.M-u:           command:\033]720;10\007
URxvt.keysym.M-d:           command:\033]721;10\007

! do not scroll with output
URxvt*scrollTtyOutput:      false

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress:    true

! font
URxvt.font:                 xft:HackNerdFont:                 size=9:antialias=true:hinting=true,\
                            xft:DroidSansMono Nerd Font:      size=9:antialias=true:hinting=true,\
                            xft:DroidSansMono Nerd Font Mono: size=9:antialias=true:hinting=true,\
                            xft:Symbols Nerd Font:            size=9:antialias=true:hinting=true,\
                            xft:Font Awesome 5 Pro:           size=9:antialias=true:hinting=true,\
                            xft:EmojiOne:                     size=7:antialias=true:hinting=true,\
                            xft:NotoColorEmoji:               size=9:antialias=true:hinting=true,\
                            xft:Material Icons:               size=5:antialias=true:hinting=true

URxvt.letterSpace:          -1

! URxvt.foreground:           veru6
! URxvt*background:           [96]veru0

Xcursor*size: 15

Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
