! -----------------------------------------------------------------------------------------------------------------------------
! ROFI COLORS
! -----------------------------------------------------------------------------------------------------------------------------

! rofi.color-enabled:     true
!
! rofi.color-normal:      argb:00000000,  #D8DEE9 , argb:00000000,  #536a70  ,  #1B2B34
! rofi.color-urgent:      argb:00000000,  #F99157 , argb:00000000,  #F99157 ,  #1B2B34
! rofi.color-active:      argb:00000000,  #6699CC , argb:00000000,  #6699CC ,  #1B2B34
! rofi.color-window:      argb:c71d2226,  #536a70,  #536a70
!
rofi.hide-scrollbar: 	true
! rofi.font:  			Hack 9
! rofi.separator-style:   dashed
! rofi.bw: 			    2
! rofi.widht:             5000
! rofi.columns:		    1
! rofi.sidebar-mode:      true

! -----------------------------------------------------------------------------------------------------------------------------
! URXVT
! -----------------------------------------------------------------------------------------------------------------------------

! general settings
URxvt*termName: xterm-256color
URxvt.saveLines: 100000
URxvt.scrollBar: False
URxvt.scrollstyle: rxvt
URxvt*pointerBlank: True
URxvt.urgentOnBell: True
URxvt.cursorBlink: True
URxvt.cursorUnderline: False
URxvt.iso14755: False
URxvt.iso14755_52: false
URxvt*insecure: false
URxvt*depth: 32

! clickable links
URxvt.matcher.button: 1

! extensions
URxvt.perl-ext-common: default,matcher,resize-font,url-select,keyboard-select
URxvt.colorUL:		#FFF
! URxvt.colorUL:		#4682B4

!! url-select
URxvt.keysym.M-l:	perl:url-select:select_next
URxvt.url-select.launcher: $BROWSER
URxvt.url-select.underline: true
URxvt.url-launcher: qutebrowser

!! keyboard-select:
URxvt.keysym.M-v: perl:keyboard-select:activate

!! resize-font
URxvt.resize-font.smaller:	M-J
URxvt.resize-font.bigger:	M-K

! keybindings
URxvt.keysym.M-p: eval:paste_clipboard

!! scrolling
URxvt.keysym.M-k: command:\033]720;1\007
URxvt.keysym.M-j: command:\033]721;1\007
URxvt.keysym.M-u: command:\033]720;10\007
URxvt.keysym.M-d: command:\033]721;10\007

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! font
! NotoColorEmoji
URxvt.font: xft:Hack:size=9:antialias=true:hinting=true,xft:FontAwesome:size=5:antialias=true:hinting=true,xft:EmojiOne:size=5:antialias=true:hinting=true,xft:NotoColorEmoji:size=5:antialias=true:hinting=true

URxvt.letterSpace: -1

URxvt.foreground: #FFF
! URxvt.foreground: #4a5351
URxvt*background: [96]#1c1c1c
! URxvt*background: [91]#f9fafb

! colors

#define nord0 #1c1c1c
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
st.background:  #1c1c1c
*.cursorColor:  nord4
! *fading: 35
*fadeColor: nord3

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6
