@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

* {
    font-family: FontAwesome, Hack, sans-serif;
    font-size: 12px;
}

window#waybar {
    color: @text;
    background: transparent;
    margin: 5px 5px;
}

window#waybar.hidden {
    opacity: 0.2;
}

#image {
    background: transparent;
    padding: 0;
}

#window {
    background-color: @surface0;
    border-radius: .6em;
    padding: 0 .75em;
}

window#waybar.empty #window {
    background: transparent;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;

}

.modules-right {
    border-radius: .6em;
    background-color: @surface0;
    padding: 0 .75em;
}

#custom-lyrics {
    border-radius: .6em;
    background-color: @surface0;
    margin: 0 .5em;
    padding: 0 .75em;
}

#mpris {
    background-color: @surface0;
    border-radius: .6em;
    padding: 0 .75em;
    margin: 0 .5em;

    /* background: transparent; */
}

.modules-center  {
    /* background-color: @surface0; */
    /* border-radius: .6em; */
    /* padding: 0 .75em; */

    background: transparent;
}

#tags {
    border-radius: .6em;
    background-color: @surface0;
    padding: 0 .75em;
}

#tags button:not(.occupied):not(.focused) {
	font-size: 0;
	min-width: 0;
	min-height: 0;
	margin: -17px;
	padding: 0;
	border: 0;
	opacity: 0;
	box-shadow: none;
	background-color: transparent;
}

#tags button {
    color: @text;
    padding: 0;
    background-color: transparent;
}

#tags button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#tags button.focused {
    box-shadow: inset 0 -3px @blue;
}

#tags button.urgent {
    background-color: @red;
}

#workspaces {
    border-radius: .6em;
    background-color: @surface0;
    padding: 0 .75em;
}

#workspaces button {
    color: @text;
    padding: 0 0.1em;
    background-color: transparent;
}

#workspaces button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    box-shadow: inset 0 -3px @blue;
}

#workspaces button.urgent {
    background-color: @red;
}

#custom-lyrics,
#custom-noisetorch,
#custom-mail,
#custom-updates,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mpd {
    padding: 0 7px;
}

#custom-mail{
    color: @teal;
}

#custom-updates{
    color: @rosewater
}

#clock {
    color: @mauve;
}

#battery {
    color: @lavender;
}

#backlight {
    color: @sky;
}

#pulseaudio {
    color: @peach;
}

#custom-noisetorch{
    color: @pink;
}

#network {
    color: @green;
}

#memory {
    color: @sapphire;
}

#cpu {
    color: @yellow;
}

#temperature {
    color: @red;
}

#mpd {
    color: @flamingo
}

#battery.critical:not(.charging) {
    /* background-color: #f53c3c; */
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @overlay2;
}

