window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    geometry-corner-radius 7
    clip-to-geometry true
}

window-rule {
    match app-id="nemo"
    open-on-workspace "scratch"
    open-floating true
    default-column-width { fixed 1157; }
    default-window-height { fixed 736; }
}

window-rule {
  match app-id=r#"^special*"#
  default-column-width { proportion 0.9; }
  open-on-workspace "Scratchpad"
}

