###########################################################################
#                              All Snippets                               #
###########################################################################

priority -55

#############
#  General  #
#############

snippet bl "Breakline"
	---------------------------------------${0}
endsnippet


# vim:ft=snippets:
