###########################################################################
#                              Mail Snippets                              #
###########################################################################

#############
#  Closing  #
#############

snippet mvg "Met vriendelijke groeten"
	Met vriendelijke groeten
