###########################################################################
#                              Mail Snippets                              #
###########################################################################

#############
#  Closing  #
#############

snippet mvg "Met vriendelijke groeten"
Met vriendelijke groeten
endsnippet

snippet mvgg "Met vriendelijke groeten, {{naam}}"
Met vriendelijke groeten,

Lander Moerkerke
WeGroup
endsnippet

# vim: ft=snippets
