###########################################################################
#                              Bash Snippets                              #
###########################################################################

#############
#  General  #
#############

snippet env "Generate environment"
	#!/bin/sh${0}
