[Desktop Entry]
Type=Application
Name=Neomutt
Icon=email
Exec=/usr/sbin/footclient -e neomutt %u
Terminal=true
StartupNotify=true
Categories=Internet;
