[Desktop Entry]
Name=Spotify
GenericName=Music Webplayer
Comment=Spotify streaming music client
Icon=spotify
Type=Application
Categories=Network;WebBrowser;
Exec=spotify %U
Keywords=Spotify
